package {{projectPackage}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;


@SpringBootApplication
public class {{applicationName}}Application {

public static void main(String[] args) throws Exception {
System.out.println("App started");

SpringApplication.run(BatchDemoApplication.class, args);
}
}
